* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  list-style: none;
  background: #f5f5f5;
  color: #333333;
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* ----------------------------------- */
/*  Header  */
/* ----------------------------------- */
header {
  padding: 40px 0 25px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 21px;
  font-weight: 400;
}

header ul {
  display: flex;
  justify-content: center;
}

header ul li {
  cursor: pointer;
  list-style: none;
  margin-left: 20px;
  display: block;
}

header ul li.active {
  display: none;
}

/* ----------------------------------- */
/*  TABLE HEAD - - only in List View   */
/* ----------------------------------- */

.books #table-head {
  display: none;
}

.books.list-view #table-head {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-self: flex-start;
  color: #666666;
  font-size: 12px;
  font-weight: 400;
}

#table-head .text {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.text #title {
  width: 20%;
}
.text #quote {
  width: 65%;
}
.text #author {
  width: 15%;
}

#table-head .cover {
  align-items: flex-end;
  background-color: transparent;
}
#table-head .user {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: transparent;
}

#title,
#quote,
#likes {
  text-align: left;
}

#cover {
  text-align: center;
}

#table-head #author {
  text-align: right;
  background-color: transparent;
}

/* ----------------------------------- */
/*  Grid View - - BOOKS wrapper  */
/* ----------------------------------- */

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  justify-items: center;
  padding-bottom: 100px;
}

@media (max-width: 1000px) {
  .books {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .books {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .books {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ----------------------------------- */
/*  List View - - BOOKS wrapper  */
/* ----------------------------------- */
.books.list-view {
  display: block;
  width: fit-content;
  justify-items: center;
  padding-bottom: 50px;
}

/* ----------------------------------- */
/*   Book Box - - Grid View */
/* ----------------------------------- */

.book-box {
  box-shadow: 0 3px 7px -2px #b5b0b0;
  display: inline-block;
  border: 1px solid #e2efe1;
  background-color: #cdf5ed;
  border-radius: 3px;
  text-align: center;
}

.book-box .cover {
  width: 33%;
  float: left;
  background-color: #cdf5ed;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;
}
.book-box .cover img {
  width: 100%;
  border: 1px solid grey;
}
.book-box .text {
  width: 67%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: right;
  background: #fff;
  padding: 15px 10px 0;
  min-height: 100%;
  text-align: left;
}

.book-box .title {
  font-size: 14px;
  font-weight: 600;
}

.book-box blockquote {
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
  color: #666666;
}

.book-box .author {
  color: #919191;
  font-size: 11px;
  font-weight: 300;
  margin: 10px 0 20px;
}

.book-box .user {
  background-color: #afe7ed;
  color: #5b5b5b;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: auto;
  height: 40px;
  transform: translateY(-40px);
}

.book-box .likes {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 5px 10px;
}

.book-box .edit {
  padding: 0 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  width: 20%;
}

.book-box .edit:hover,
.book-box .edit:active {
  background-color: #404040;
  color: #fff;
}

.book-box div.sub-menu {
  background-color: #404040;
  color: #fff;

  display: none;
}

.book-box div.sub-menu {
  display: none;
}

.book-box .edit:active {
  position: relative;
}

/* ----------------------------------- */
/*   List View - - BOOK BOX  */
/* ----------------------------------- */

.books.list-view .book-box {
  display: flex;
  border: 1px solid #8e978d;
  background-color: #cdf5ed;
  text-align: left;
  height: 70px;
}

@media (max-width: 1000px) {
  .books.list-view .book-box {
    height: 100px;
  }
  .books.list-view blockquote {
    width: 50% !important;
  }
  .books.list-view .user {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 10% !important;
  }
  .books.list-view .edit {
    width: 100%;
    height: 40%;
  }
  .books.list-view .cover {
    width: 10% !important;
  }
}

@media (max-width: 650px) {
  .books.list-view .likes {
    flex-direction: column-reverse;
  }
}

@media (max-width: 400px) {
  .books.list-view .book-box {
    height: 140px;
  }

  #title,
  #cover,
  #likes {
    align-self: baseline;
  }

  #table-head .cover,
  #table-head .user {
    align-self: flex-end;
    justify-content: center;
  }

  .books.list-view .text {
    width: 66% !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    align-items: center !important;
  }
  .books.list-view .title {
    width: 100% !important;
  }

  .books.list-view blockquote {
    width: 100% !important;
    -webkit-line-clamp: 4 !important;
  }
  .books.list-view .author {
    width: 100% !important;
  }

  .books.list-view .user {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 17% !important;
  }
  .books.list-view .cover {
    width: 17% !important;
  }
}

/* Text Area */
.books.list-view .text {
  width: 80%;
  flex-direction: row;
  order: -1;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.books.list-view .title {
  font-size: 14px;
  font-weight: 600;
  width: 20%;
  padding-right: 10px;
}

.books.list-view blockquote {
  font-size: 12px;
  font-weight: 300;
  color: #666666;
  width: calc(65%);
  margin: 0;
  text-align: left;
  /* truncating text more than 2 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.books.list-view .author {
  color: #919191;
  font-size: 11px;
  font-weight: 300;
  margin: 0;
  width: 15%;
  text-align: right;
}

/* book cover area */
.books.list-view .cover {
  width: 5%;
  background-color: #cdf5ed;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.books.list-view .cover img {
  border: 1px solid grey;
  width: 60%;
}

/*  user tools area */
.books.list-view .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  background-color: #fff;
  transform: none;
  height: 100%;
}

.books.list-view .likes {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  padding: 5px 10px;
  width: 60px;
}

.books.list-view .edit {
  align-self: center;
  cursor: pointer;
  position: relative;
  height: 100%;
}

.books.list-view .edit:hover,
.books.list-view .edit:active {
  background-color: #404040;
  color: #fff;
}

/* ----------------------------------- */
/*    DROPD DOWN  */
/* ----------------------------------- */
.dropdown-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  height: max-content;
  text-align: right;
  padding: 11px;
  z-index: 999;
  background-color: #404040;
  color: #fff;
  overflow: hidden;
  font-size: 13px;
  display: none;
}
